/* .theme-template {


    If light theme: should go from bright to darker
    If dark theme: should go from dark to brighter

    --primary-color-1: #2E3440;
    --primary-color-2: #3B4252;
    --primary-color-3: #434C5E;
    --primary-color-4: #4C566A;


    If light theme: should go from dark to brighter
    If dark theme: should go from bright to darker

    --secondary-color-1: #ECEFF4;
    --secondary-color-2: #E5E9F0;
    --secondary-color-3: #D8DEE9;
    --secondary-color-4: #C8CED9;


    Choose wisely nuance colors. It is not easy to find
    4 harmonizing nuance colors. But keep in mind, the
    most important is nuance-color-3

    --theme-nuance-color-1: #8FBCBB;
    --theme-nuance-color-2: #88C0D0;
    --theme-nuance-color-3: #81A1C1;
    --theme-nuance-color-4: #5E81AC;


    adapt the color red, orange, yellow, green,
    purple to the mood of your overall design

    --theme-red-color:    #BF616A;
    --theme-orange-color: #D08770;
    --theme-yellow-color: #EBCB8B;
    --theme-green-color:  #A3BE8C;
    --theme-purple-color: #B48EAD;

} */
