/* .theme-template {


    If light theme: should go from bright to darker
    If dark theme: should go from dark to brighter

    --primary-color-1: #2E3440;
    --primary-color-2: #3B4252;
    --primary-color-3: #434C5E;
    --primary-color-4: #4C566A;


    If light theme: should go from dark to brighter
    If dark theme: should go from bright to darker

    --secondary-color-1: #ECEFF4;
    --secondary-color-2: #E5E9F0;
    --secondary-color-3: #D8DEE9;
    --secondary-color-4: #C8CED9;


    Choose wisely nuance colors. It is not easy to find
    4 harmonizing nuance colors. But keep in mind, the
    most important is nuance-color-3

    --theme-nuance-color-1: #8FBCBB;
    --theme-nuance-color-2: #88C0D0;
    --theme-nuance-color-3: #81A1C1;
    --theme-nuance-color-4: #5E81AC;


    adapt the color red, orange, yellow, green,
    purple to the mood of your overall design

    --theme-red-color:    #BF616A;
    --theme-orange-color: #D08770;
    --theme-yellow-color: #EBCB8B;
    --theme-green-color:  #A3BE8C;
    --theme-purple-color: #B48EAD;

} */


/* Inspiration from Nord Theme https://www.nordtheme.com/docs/colors-and-palettes */

.theme-polarnight {

/*
--primary-color-1: #2E3440;
--primary-color-2: #3B4252;
--primary-color-3: #434C5E;
--primary-color-4: #4C566A;

--secondary-color-1: #ECEFF4;
--secondary-color-2: #E5E9F0;
--secondary-color-3: #D8DEE9;
--secondary-color-4: #C8CED9;

--theme-nuance-color-1: #8FBCBB;
--theme-nuance-color-2: #88C0D0;
--theme-nuance-color-3: #81A1C1;
--theme-nuance-color-4: #5E81AC;

--theme-red-color:    #BF616A;
--theme-orange-color: #D08770;
--theme-yellow-color: #EBCB8B;
--theme-green-color:  #A3BE8C;
--theme-purple-color: #B48EAD;
*/

/* I had to convert from hex to hsl so that */
/* I could do calculations on the colors.   */


/* ---------- PRIMARY ----------------- */

--primary-color-1: hsl(220, 16.4%, 21.6%) ;
    --primary-color-1-hue: 220;
    --primary-color-1-saturation: 16.4%;
    --primary-color-1-lightness: 21.6%;

--primary-color-2: hsl(221.7, 16.3%, 27.6%) ;
    -primary-color-2-hue: 221.7;
    --primary-color-2-saturation: 16.3%;
    --primary-color-2-lightness: 27.6%;

--primary-color-3: hsl(220, 16.8%, 31.6%) ;
    --primary-color-3-hue: 220;
    --primary-color-3-saturation: 16.8%;
    --primary-color-3-lightness: 31.6%;

--primary-color-4: hsl(220, 16.5%, 35.7%);
    --primary-color-4-hue: 220;
    --primary-color-4-saturation: 16.5%;
    --primary-color-4-lightness: 35.7%;


/* ---------- SECONDARY --------------- */

--secondary-color-1: hsl(217.5, 26.7%, 94.1%);
    --secondary-color-1-hue: 217.5;
    --secondary-color-1-saturation: 26.7%;
    --secondary-color-1-lightness: 94.1%;


--secondary-color-2: hsl(218.2, 26.8%, 92%);
    --secondary-color-2-hue: 218.2;
    --secondary-color-2-saturation: 26.8%;
    --secondary-color-2-lightness: 92%;


--secondary-color-3: hsl(218.8, 27.9%, 88%);
    --secondary-color-3-hue: 218.8;
    --secondary-color-3-saturation: 27.9%;
    --secondary-color-3-lightness: 88%;


--secondary-color-4: hsl(218.8, 18.3%, 81.8%);
    --secondary-color-4-hue: 218.8;
    --secondary-color-4-saturation: 18.3%;
    --secondary-color-4-lightness: 81.8%;


/* ---------- NUANCES ----------------- */

--theme-nuance-color-1: hsl(178.7, 25.1%, 64.9%);
    --theme-nuance-color-1-hue: 178.7;
    --theme-nuance-color-1-saturation: 25.1%;
    --theme-nuance-color-1-lightness: 64.9%;

--theme-nuance-color-2: hsl(193.3, 43.4%, 67.5%);
    --theme-nuance-color-2-hue: 193.3;
    --theme-nuance-color-2-saturation: 43.4%;
    --theme-nuance-color-2-lightness: 67.5%;

--theme-nuance-color-3: hsl(210, 34%, 63.1%);
    --theme-nuance-color-3-hue: 210;
    --theme-nuance-color-3-saturation: 34%;
    --theme-nuance-color-3-lightness: 63.1%;

--theme-nuance-color-4: hsl(213.1, 32%, 52.2%);
    --theme-nuance-color-4-hue: 213.1;
    --theme-nuance-color-4-saturation: 32%;
    --theme-nuance-color-4-lightness: 52.2%;

--theme-red-color:    hsl(354.3, 42.3%, 56.5%);
--theme-orange-color: hsl(14.4, 50.5%, 62.7%);
--theme-yellow-color: hsl(40, 70.6%, 73.3%);
--theme-green-color:  hsl(92.4, 27.8%, 64.7%);
--theme-purple-color: hsl(311.1, 20.2%, 63.1%);

/* ------------------------------------------------ */

--background-color-1: var(--primary-color-1);
--background-color-2: var(--primary-color-2);
--background-color-3: var(--primary-color-3);
--background-color-4: var(--primary-color-4);

--border-color-1: var(--primary-color-2);
--border-color-2: var(--primary-color-3);
--border-color-3: var(--primary-color-4);

--border-focus-color:    var(--theme-nuance-color-2);
--border-focus-shadow:   var(--theme-nuance-color-1);

--text-color-plain:      var(--secondary-color-1);
--text-color-subtile-1:  var(--secondary-color-2);
--text-color-subtile-2:  var(--secondary-color-3);

--code-background-color: var(--secondary-color-2);
--code-text-color:       var(--primary-color-2);

--ui-range-thumb-color:  var(--theme-nuance-color-3);
--ui-range-thumb-border: var(--ui-ranger-thumb-color);

--textarea-border-color: var(--secondary-color-4);

--button-hover-alert:    var(--theme-orange-color);


/* ----------- PRIMARY ---------------- */
/* button should immediately catch the eye */

--button-primary-text:
    var(--secondary-color-1);

--button-primary-color:
    var(--theme-nuance-color-3);

--button-primary-border:
    var(--theme-nuance-color-3);

/* ---------hover---------- */

/* If light theme */
/* --button-primary-text-hover:
    hsl(217.5,
    calc(var(--secondary-color-1-saturation) + 35%),
    calc(var(--secondary-color-1-lightness) - 30%)); */

/* If dark theme */
--button-primary-text-hover:
    hsl(217.5,
    calc(var(--secondary-color-1-saturation) - 35%),
    calc(var(--secondary-color-1-lightness) + 30%));

--button-primary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 2%),
    calc(var(--theme-nuance-color-3-lightness) - 10%));

--button-primary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 2%),
    calc(var(--theme-nuance-color-3-lightness) - 10%));

/* ---------active--------- */

--button-primary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 35%));

--button-primary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 10%),
    calc(var(--theme-nuance-color-3-lightness) - 25%));

--button-primary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 10%),
    calc(var(--theme-nuance-color-3-lightness) - 25%));


/* ---------- SECONDARY --------------- */
/* button should NOT immediately catch the eye */

--button-secondary-text:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) - 50%));

--button-secondary-color:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 10%));

--button-secondary-border:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 10%));

/* ---------hover---------- */

--button-secondary-text-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) - 80%));

--button-secondary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 22%),
    calc(var(--theme-nuance-color-3-lightness) + 1%));

--button-secondary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 22%),
    calc(var(--theme-nuance-color-3-lightness) + 1%));

/* ---------active--------- */

--button-secondary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 25%));

--button-secondary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 30%),
    calc(var(--theme-nuance-color-3-lightness) - 15%));

--button-secondary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 30%),
    calc(var(--theme-nuance-color-3-lightness) - 15%));


/* ---------- TERTIARY ---------------- */
/* disabled buttons */

--button-tertiary-text:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ---------hover---------- */

--button-tertiary-text-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ---------active--------- */

--button-tertiary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ------------------------------------ */

}

.theme-snowstorm {

/*
--primary-color-1: #ECEFF4;
--primary-color-2: #E5E9F0;
--primary-color-3: #D8DEE9;
--primary-color-4: #C8CED9;

--secondary-color-1: #2E3440;
--secondary-color-2: #3B4252;
--secondary-color-3: #434C5E;
--secondary-color-4: #4C566A;

--theme-nuance-color-1: #8FBCBB;
--theme-nuance-color-2: #88C0D0;
--theme-nuance-color-3: #81A1C1;
--theme-nuance-color-4: #5E81AC;

--theme-red-color:    #BF616A;
--theme-orange-color: #D08770;
--theme-yellow-color: #EBCB8B;
--theme-green-color:  #A3BE8C;
--theme-purple-color: #B48EAD;
*/

/* ---------- PRIMARY ----------------- */

--primary-color-1: hsl(217.5, 26.7%, 94.1%);
    --primary-color-1-hue: 217.5;
    --primary-color-1-saturation: 26.7%;
    --primary-color-1-lightness: 94.1;

--primary-color-2: hsl(218.2, 26.8%, 92%);
    --primary-color-2-hue: 218.2;
    --primary-color-2-saturation: 26.8%;
    --primary-color-2-lightness: 92%;

--primary-color-3: hsl(218.8, 27.9%, 88%);
    --primary-color-3-hue: 218.8;
    --primary-color-3-saturation: 27.9%;
    --primary-color-3-lightness: 88%;

--primary-color-4: hsl(218.8, 18.3%, 81.8%);
    --primary-color-4-hue: 218.8;
    --primary-color-4-saturation: 18.3%;
    --primary-color-4-lightness: 81.8%;

/* ---------- SECONDARY --------------- */

--secondary-color-1: hsl(220, 16.4%, 21.6%) ;
    --secondary-color-1-hue: 220;
    --secondary-color-1-saturation: 16.4%;
    --secondary-color-1-lightness: 21.6%;

--secondary-color-2: hsl(221.7, 16.3%, 27.6%) ;
    -secondary-color-2-hue: 221.7;
    --secondary-color-2-saturation: 16.3%;
    --secondary-color-2-lightness: 27.6%;

--secondary-color-3: hsl(220, 16.8%, 31.6%) ;
    --secondary-color-3-hue: 220;
    --secondary-color-3-saturation: 16.8%;
    --secondary-color-3-lightness: 31.6%;

--secondary-color-4: hsl(220, 16.5%, 35.7%);
    --secondary-color-4-hue: 220;
    --secondary-color-4-saturation: 16.5%;
    --secondary-color-4-lightness: 35.7%;


/* ---------- NUANCES ----------------- */

--theme-nuance-color-1: hsl(178.7, 25.1%, 64.9%);
    --theme-nuance-color-1-hue: 178.7;
    --theme-nuance-color-1-saturation: 25.1%;
    --theme-nuance-color-1-lightness: 64.9%;

--theme-nuance-color-2: hsl(193.3, 43.4%, 67.5%);
    --theme-nuance-color-2-hue: 193.3;
    --theme-nuance-color-2-saturation: 43.4%;
    --theme-nuance-color-2-lightness: 67.5%;

--theme-nuance-color-3: hsl(210, 34%, 63.1%);
    --theme-nuance-color-3-hue: 210;
    --theme-nuance-color-3-saturation: 34%;
    --theme-nuance-color-3-lightness: 63.1%;

--theme-nuance-color-4: hsl(213.1, 32%, 52.2%);
    --theme-nuance-color-4-hue: 213.1;
    --theme-nuance-color-4-saturation: 32%;
    --theme-nuance-color-4-lightness: 52.2%;


/* ---------- ROYGP ------------------- */

--theme-red-color:    hsl(354.3, 42.3%, 56.5%);
--theme-orange-color: hsl(14.4, 50.5%, 62.7%);
--theme-yellow-color: hsl(40, 70.6%, 73.3%);
--theme-green-color:  hsl(92.4, 27.8%, 64.7%);
--theme-purple-color: hsl(311.1, 20.2%, 63.1%);

/* ------------------------------------------------ */

--background-color-1:    var(--primary-color-1);
--background-color-2:    var(--primary-color-2);
--background-color-3:    var(--primary-color-3);
--background-color-4:    var(--primary-color-4);

--border-color-1:        var(--primary-color-2);
--border-color-2:        var(--primary-color-3);
--border-color-3:        var(--primary-color-4);

--border-focus-color:    var(--theme-nuance-color-2);
--border-focus-shadow:   var(--theme-nuance-color-1);

--text-color-plain:      var(--secondary-color-1);
--text-color-subtile-1:  var(--secondary-color-2);
--text-color-subtile-2:  var(--secondary-color-3);

--code-background-color: var(--secondary-color-2);
--code-text-color:       var(--primary-color-2);

--ui-range-thumb-color:  var(--theme-nuance-color-3);
--ui-range-thumb-border: var(--ui-ranger-thumb-color);

--textarea-border-color: var(--secondary-color-4);

--button-hover-alert:    var(--theme-orange-color);


/* ----------- PRIMARY ---------------- */
/* button should immediately catch the eye */

--button-primary-text:
    var(--secondary-color-1);

--button-primary-color:
    var(--theme-nuance-color-3);

--button-primary-border:
    var(--theme-nuance-color-3);

/* ---------hover---------- */

/* If light theme */
--button-primary-text-hover:
    hsl(217.5,
    calc(var(--secondary-color-1-saturation) + 35%),
    calc(var(--secondary-color-1-lightness) - 30%));

/* If dark theme */
/* --button-primary-text-hover:
    hsl(217.5,
    calc(var(--secondary-color-1-saturation) - 35%),
    calc(var(--secondary-color-1-lightness) + 30%)); */

--button-primary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 2%),
    calc(var(--theme-nuance-color-3-lightness) - 10%));

--button-primary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 2%),
    calc(var(--theme-nuance-color-3-lightness) - 10%));

/* ---------active--------- */

--button-primary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 35%));

--button-primary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 10%),
    calc(var(--theme-nuance-color-3-lightness) - 25%));

--button-primary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 10%),
    calc(var(--theme-nuance-color-3-lightness) - 25%));


/* ---------- SECONDARY --------------- */
/* button should NOT immediately catch the eye */

--button-secondary-text:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) - 50%));

--button-secondary-color:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 10%));

--button-secondary-border:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 10%));

/* ---------hover---------- */

--button-secondary-text-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) - 80%));

--button-secondary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 22%),
    calc(var(--theme-nuance-color-3-lightness) + 1%));

--button-secondary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 22%),
    calc(var(--theme-nuance-color-3-lightness) + 1%));

/* ---------active--------- */

--button-secondary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 25%));

--button-secondary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 30%),
    calc(var(--theme-nuance-color-3-lightness) - 15%));

--button-secondary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 30%),
    calc(var(--theme-nuance-color-3-lightness) - 15%));


/* ---------- TERTIARY ---------------- */
/* disabled buttons */

--button-tertiary-text:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ---------hover---------- */

--button-tertiary-text-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ---------active--------- */

--button-tertiary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ------------------------------------ */

}

.theme-playground {


    --primary-color-1:     #f7f7f7;
    --primary-color-2:     #cfcfcf;
    --primary-color-3:     #cccccc;
    --primary-color-4:     #7d7d7d;

    --secondary-color-1:    #333333;
    --secondary-color-2:    #3b3b3b;
    --secondary-color-3:    #4a4a4a;
    --secondary-color-4:    #5c5c5c;

    --theme-nuance-color-1: #10A34D;
    --theme-nuance-color-2: #10A31B;
    --theme-nuance-color-3: #11a37f;
    --theme-nuance-color-4: #0D8063;

    --theme-red-color:      #B5515A;
    --theme-orange-color:   #e76f51;
    --theme-yellow-color:   #EBCB8B;
    --theme-green-color:    #A3BE8C;
    --theme-purple-color:   #B48EAD;

/* ------------------------------------------------ */


--primary-color-1: hsl(0, 0%, 96.9%);
    --primary-color-1-hue: 0;
    --primary-color-1-saturation: 0%;
    --primary-color-1-lightness: 96.9%;

--primary-color-2: hsl(0, 0%, 81.2%);
    --primary-color-2-hue: 0;
    --primary-color-2-saturation: 0%;
    --primary-color-2-lightness: 81.2%;

--primary-color-3: hsl(0, 0%, 80%);
    --primary-color-3-hue: 0;
    --primary-color-3-saturation: 0%;
    --primary-color-3-lightness: 80%;

--primary-color-4: hsl(0, 0%, 49%);
    --primary-color-4-hue: 0;
    --primary-color-4-saturation: 0%;
    --primary-color-4-lightness: 49%;



--secondary-color-1: hsl(0, 0%, 20%);
    --secondary-color-1-hue: 0;
    --secondary-color-1-saturation: 0%;
    --secondary-color-1-lightness: 20%;

--primary-color-2: hsl(0, 0%, 23.1%);
    --secondary-color-2-hue: 0;
    --secondary-color-2-saturation: 0%;
    --secondary-color-2-lightness: 23.1%;

--primary-color-3: hsl(0, 0%, 29%);
    --secondary-color-3-hue: 0;
    --secondary-color-3-saturation: 0%;
    --secondary-color-3-lightness: 29%;

--secondary-color-4: hsl(0, 0%, 36.1%);
    --secondary-color-4-hue: 0;
    --secondary-color-4-saturation: 0%;
    --secondary-color-4-lightness: 36.1%;



--theme-nuance-color-1: hsl(144.9, 82.1%, 35.1%);
    --theme-nuance-color-1-hue: 144.9;
    --theme-nuance-color-1-saturation: 82.1%;
    --theme-nuance-color-1-lightness: 35.1%;

--theme-nuance-color-2: hsl(124.5, 82.1%, 35.1%);
    --theme-nuance-color-2-hue: 124.5;
    --theme-nuance-color-2-saturation: 82.1%;
    --theme-nuance-color-2-lightness: 35.1%;

--theme-nuance-color-3: hsl(165.2, 81.1%, 35.3%);
    --theme-nuance-color-3-hue: 165.2;
    --theme-nuance-color-3-saturation: 81.1%;
    --theme-nuance-color-3-lightness: 35.3%;

--theme-nuance-color-4: hsl(164.9, 81.6%, 27.6%);
    --theme-nuance-color-4-hue: 164.9;
    --theme-nuance-color-4-saturation: 81.6%;
    --theme-nuance-color-4-lightness: 27.6%;


    --theme-red-color:    #B5515A;
    --theme-orange-color: #e76f51;
    --theme-yellow-color: #EBCB8B;
    --theme-green-color:  #A3BE8C;
    --theme-purple-color: #B48EAD;

/* ------------------------------------------------ */

--background-color-1:    var(--primary-color-1);
--background-color-2:    var(--primary-color-2);
--background-color-3:    var(--primary-color-3);
--background-color-4:    var(--primary-color-4);

--border-color-1:        var(--primary-color-2);
--border-color-2:        var(--primary-color-3);
--border-color-3:        var(--primary-color-4);

--border-focus-color:    var(--theme-nuance-color-2);
--border-focus-shadow:   var(--theme-nuance-color-1);

--text-color-plain:      var(--secondary-color-1);
--text-color-subtile-1:  var(--secondary-color-2);
--text-color-subtile-2:  var(--secondary-color-3);

--code-background-color: var(--secondary-color-2);
--code-text-color:       var(--primary-color-2);

--ui-range-thumb-color:  var(--theme-nuance-color-3);
--ui-range-thumb-border: var(--ui-ranger-thumb-color);

--textarea-border-color: var(--secondary-color-4);

--button-hover-alert:    var(--theme-orange-color);


/* ----------- PRIMARY ---------------- */
/* button should immediately catch the eye */

--button-primary-text:
    var(--secondary-color-1);

--button-primary-color:
    var(--theme-nuance-color-3);

--button-primary-border:
    var(--theme-nuance-color-3);

/* ---------hover---------- */

/* If light theme */
--button-primary-text-hover:
    hsl(217.5,
    calc(var(--secondary-color-1-saturation) + 35%),
    calc(var(--secondary-color-1-lightness) - 30%));

/* If dark theme */
/* --button-primary-text-hover:
    hsl(217.5,
    calc(var(--secondary-color-1-saturation) - 35%),
    calc(var(--secondary-color-1-lightness) + 30%)); */

--button-primary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 2%),
    calc(var(--theme-nuance-color-3-lightness) - 10%));

--button-primary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 2%),
    calc(var(--theme-nuance-color-3-lightness) - 10%));

/* ---------active--------- */

--button-primary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 35%));

--button-primary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 10%),
    calc(var(--theme-nuance-color-3-lightness) - 25%));

--button-primary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 10%),
    calc(var(--theme-nuance-color-3-lightness) - 25%));


/* ---------- SECONDARY --------------- */
/* button should NOT immediately catch the eye */

--button-secondary-text:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) - 50%));

--button-secondary-color:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 10%));

--button-secondary-border:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 10%));

/* ---------hover---------- */

--button-secondary-text-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) - 80%));

--button-secondary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 22%),
    calc(var(--theme-nuance-color-3-lightness) + 1%));

--button-secondary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 22%),
    calc(var(--theme-nuance-color-3-lightness) + 1%));

/* ---------active--------- */

--button-secondary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 20%),
    calc(var(--theme-nuance-color-3-lightness) + 25%));

--button-secondary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 30%),
    calc(var(--theme-nuance-color-3-lightness) - 15%));

--button-secondary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 30%),
    calc(var(--theme-nuance-color-3-lightness) - 15%));


/* ---------- TERTIARY ---------------- */
/* disabled buttons */

--button-tertiary-text:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ---------hover---------- */

--button-tertiary-text-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border-hover:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ---------active--------- */

--button-tertiary-text-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) - 5%));

--button-tertiary-color-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

--button-tertiary-border-active:
    hsl(210,
    calc(var(--theme-nuance-color-3-saturation) - 40%),
    calc(var(--theme-nuance-color-3-lightness) + 20%));

/* ------------------------------------ */

}

/* .theme-brown {
--primary-color:   #ff8234;
--secondary-color: #cf6252;

--background-color: #2b2b2b;
--text-color:       #f7f7f7;

--border-color:   #333333;
--border-color-2: #bababa;

--button-hover-color: #cf6252;
--button-hover-alert: #cf6252;

--input-focus-border-color: #ff8234;

--loading-color-1: #33333300;
--loading-color-2: #333333ff;
}



.theme-blark {
--primary-color:   #3448ff;
--secondary-color: #bccf52;

--background-color: #2b2b2b;
--text-color: #f7f7f7;

--border-color: #333333;
--border-color-2: #bababa;

--button-hover-color: #c5cf52;
--button-hover-alert: #bccf52;

--input-focus-border-color: #34d0ff;

--loading-color-1: #33333300;
--loading-color-2: #333333ff;

--background-body: #202b38;
--background: #161f27;
--background-alt: #1a242f;
--selection: #1c76c5;
--text-main: #dbdbdb;
--text-bright: #fff;
--text-muted: #a9b1ba;
--links: #41adff;
--focus: #0096bfab;
--border: #526980;
--code: #ffbe85;
--animation-duration: 0.1s;
--button-base: #0c151c;
--button-hover: #040a0f;
--form-placeholder: #a9a9a9;
--form-text: #fff;
--variable: #d941e2;
--highlight: #efdb43;
}



.theme-sun {
--primary-color: #ffdd00;
--secondary-color: #87ceeb;

--background-color: #008000;
--text-color: #;

--border-color: #;
--border-color-2: #;

--button-hover-color: #;
--button-hover-alert: #;

--input-focus-border-color: #;

--loading-color-1: #;
--loading-color-2: #;
}



.theme-tech {
--primary-color: #808080;
--secondary-color: #006400;

--background-color: #0000ff;
--text-color: #;

--border-color: #;
--border-color-2: #;

--button-hover-color: #;
--button-hover-alert: #;

--input-focus-border-color: #;

--loading-color-1: #;
--loading-color-2: #;
} */
